.header-background {
  background-image: url(../images/header-background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80vw;
  height: 35vh;
  display: flex;
  margin: 30px auto;
  border-radius: 15px;
}

.left-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 50px 50px;
}

.user-info {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.full-name,
.user-email {
  margin: 0;
}
@media only screen and (max-width: 400px)  { 
  .left-info {
    padding: 0 0 50px 10px;
  }
}