.createLocation-body {
    width: 80vw;
    margin: auto;
  }

.createLocation-container{
  padding: 30px;
  border: 1px black;
}

.image-input{
  display: flex;
  flex-direction: column;
}

.LocationName-Input{
    display: flex;
    flex-direction: column;
}

.Desc-input{
    display: flex;
    flex-direction: column;
}
.FormLine {
  border-bottom: 1px solid #949494;
  padding-bottom: 10px;
}
.TopForm {
  padding-top: 20px;
}

@media only screen and (max-width: 450px) {
  .card-body {
    height: 520px;
  }
}

