.flex-wrapper{
       display: flex;
       flex-direction: column;
       background-color: rgb(255, 140, 0);
}
.desti-card {
    display: flex;
    flex-direction: row;
   
    
}
.desti-image{
    width: 300px;
    height: 200px;
}