/* .body{
  background-color: #fbb152;
} */

.App {
    text-align: center;
    background-color: #fbb152;
}
  
  

  .container {
    display: flex;
    /* flex-wrap: wrap;  */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    /* margin-top: 50px;  */
    text-align: center;
    padding: 50px;

  }

  .place-container{
    flex-basis: 60%;
  }
  


/* Side Bar */
.side-content {
    flex-basis: 20%;
    padding-right: 50px;
    font-size: 80%;

  }

.rest-container{
  padding: 0 50px;
  margin-top: 50px; 
  text-align: center;
  padding-bottom: 5%;
}

 section {
    margin-bottom: 50px;
  }

  @media only screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .place-container {
      flex-basis: 60%;
    }
  
    .side-content {
      padding-right: 50px;
    }
  
    .rest-container {
      padding: 0 10%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .side-content {
      font-size: 100%;
    }
  }