
.Experience {
    padding-top: 60px;
}


.expContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    
}

.expCard {
    width: 18rem;
    text-align: center;
    margin-top: 20px;
}

.expText {
    text-align: center;
min-height: 200px;
}


.expImg {
    max-block-size: 10rem;
    padding-bottom: 20px;
}
.card-body {
    height: 420px;
}

