
.Backdrop {
    background-color: #fbb25289;
   margin: 100px auto;
   padding: 10px 80px;
   display: inline-flex;

}
.imageFlex {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.Person {
    height: 507px;
    width: 507px;
    z-index: 2;
    border-radius: 50%;
 }

.Circle {
    height: 160px;
    width: 160px;
    z-index: 3;
    position: relative;
    top: -120px;

}
.FeaText {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: right;
    padding: 30px;
    margin-top: 40px;
    margin-left: 30px;
    align-items: flex-end;
    position: relative;
    left: -120px;
}
.FeaText p {
    padding-left: 20px;
}
.FeaButton {
    border-style: solid;
    border-width: 2px;
    border-color: #fbb152;
    padding: 19px 45px 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fbb152;
    letter-spacing: 2px;
    /* margin: 30px; */
    max-width: 30%;
}
.FeaButton:hover {
    color: white;
    border-color: #fbb152;
    background-color: #fbb152;
  }

  @media (max-width: 820px) {
    .Person {
        height: 700px;
        width: 100%;
    }
    .Backdrop {
        padding: 0;
        flex-wrap: wrap;
    }
    .Circle {
        position: relative;
    top: -60px;
    }
    .FeaButton {
        max-width: fit-content;
    }
    .FeaText {
        margin: 30px;
        left: auto;
    }
}
@media (max-width: 720px) {
    .Person {
        height: 500px;
    }
}