/* The hero image */
.hero-container {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.486)),
    url("../images/hero.jpg") no-repeat center / cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-weight: 700;
  color: #fbb152;
}

.hero-button {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 19px 45px 20px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

.hero-button:hover {
  color: white;
  border-color: #fbb152;
  background-color: #fbb152;
}

p::selection {
  background: #fbb152;
}
