.HomeContainer img {
    width: 533px;
    height: 533px;
    border-radius: 50%;
}
.HomeContainer {
    display: inline-grid;
/* grid-template-columns: repeat(2, 1fr);
column-gap: 50px;
margin: 50px; */
}

.Grid-item {
    display:flex;
    flex-direction: column;
}

.Plan-button {
        border-style: solid;
        border-width: 2px;
        border-color: #fbb152;
        padding: 19px 45px 20px;
        font-weight: 700;
        text-decoration: none;
        color: #fbb152;
        letter-spacing: 2px;
        margin: 30px;
}

.Plan-button:hover {
    color: white;
    border-color: #fbb152;
    background-color: #fbb152;
  }