.small-content {
    flex-basis: 70%;
    padding-right: 50px;
    padding-bottom: 2%;
  }
  .small-content-title h2{
    font-size: 300%;
  } 
  .food-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center; 
    border-radius: 20px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
  }
  
  .img {
    width: 50vh;
    border-radius: 5%;
  }
  
  .food-content {
    padding: 20px;
  }