.small-content {
  flex-basis: 70%;
  padding-right: 50px;
  padding-bottom: 2%;
}
.small-content-title h2 {
  font-size: 300%;
}
.food-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 3px 3px 10px gray;
  background-color: white;
}

.img {
  width: 50vh;
  border-radius: 5%;
}

.food-content {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .food-container {
    /* grid-template-columns: 1fr; */

    text-align: center;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .small-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding-right: 0;
    padding-bottom: 0;
  }

  .small-content-title h2 {
    font-size: 250%;
  }

  .food-content {
    padding: 10px;
  }
}

@media screen and (max-width: 415px) {
  .food-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .food-content {
    padding: 10px;
  }
}
