.saved-list-body {
  width: 80vw;
  margin: auto;
}

.saved-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #949494;
  margin-bottom: 30px;
}

.sort-drpdwn,
.create-list-button,
.remove-list-button {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #fbb152;
}

.sort-drpdwn:hover,
.create-list-button:hover,
.remove-list-button:hover {
  background-color: #3b71ca;
  color: white;
}

.create-list-button {
  margin: 0 20px;
}

.list-boxes {
  margin: 0 2rem 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-list-box {
  height: 300px;
  width: 300px;
  background-color: #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.all-img {
  height: 70px;
  width: 70px;
}

.example-box {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-image: url("../images/RV_Foz_do_Iguassa.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-title:hover {
  color: #3b71ca;
  text-decoration: underline;
  cursor: pointer;
}

.edit.inactive {
  display: none;
}

.edit.active {
  display: inline-block;
}

@media only screen and (max-width: 850px) {
  .saved-list-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.sort-drpdwn {
  margin-bottom: 10px;
}
.list-boxes {
  display: flex;
  flex-direction: column;
}
}