.btn{
    color: #fff !important;
    background-color: rgb(4, 94, 238) !important;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    color: white !important;
    background-color: #041d5b;
  }