.side-content {
  /* display: flex;
  flex-direction: column; */
  flex-basis: 20%;
  padding-right: 60px;
  font-size: 80%;

}
/* .side-content {
  flex-basis: 20%;
  padding-right: 50px;
  font-size: 80%;
  box-sizing: border-box;

} */
.side-content-title{
  font-size: 200%;
}
.side-img {
  width: 25vh;
  height: 15vh;
  border-radius: 5%;
}

/* @media screen and (max-width: 767px) {
  .side-content {
    flex-basis: 100%;
    padding-right: 0;
    font-size: 100%;
    margin-top: 20px;
  }
  
  .side-content-title {
    font-size: 150%;
  }
  
  .side-img {
    width: 50%;
    height: auto;
    margin-top: 10px;
  }
} */
