.side-content {
  /* display: flex;
  flex-direction: column; */
  flex-basis: 20%;
  padding-right: 60px;
  font-size: 80%;

}
/* .side-content {
  flex-basis: 20%;
  padding-right: 50px;
  font-size: 80%;
  box-sizing: border-box;

} */
.side-content-title{
  font-size: 200%;
}
.side-img {
  width: 25vh;
  height: 15vh;
  border-radius: 5%;
}
